.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.Rda
*.dta
*.txt
*.xlsx
*.docx
/Output/*
/Scripts/*
*Data.Rproj
*OPTIMMAL_change.Rmd
*OPTIMMAL_disp2.Rmd
*OPTIMMAL_traj.Rmd
*OPTIMMAL_urine.Rmd
*OPTIMMAL_urine2.Rmd

